{% extends 'common/layout.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'core/styles/core.css' %}">
    <link rel="stylesheet" href="{% static 'core/styles/jquery.bxslider.css' %}">
{% endblock %}

{% block main %}
    {% if sliders %}
        <section class="section is-medium">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-6">
                        {% include 'core/_title.html' with title='近期消息' %}
                        {% include 'core/_subtitle.html' with subtitle='从这里开始了解来自馆内的新消息' %}
                    </div>
                    <div class="column">
                        <ul class="bxslider">
                            {% for item in sliders %}
                                <li>
                                    <a href="#">
                                        <img src="{{ item.thumbnail.url }}" title="{{ item.title }}" alt="slide"/>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <hr class="is-marginless"/>
    {% endif %}
    {% if news %}
        <section class="section is-medium">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-one-third">
                        <a href="{% url 'core:part' 'news' %}">
                            {% include 'core/_title.html' with title='最新资讯' %}
                        </a>
                        {% include 'core/_subtitle.html' with subtitle='文化动态可持续的共同关注' %}
                    </div>
                    <div class="column">
                        <div class="columns">
                            {% for item in news %}
                                <div class="card is-fullwidth column">
                                    <header class="card-header">
                                        <p class="card-header-title">
                                            {{ item.title }}
                                        </p>
                                    </header>
                                    <div class="card-content">
                                        <div class="content">
                                            {{ item.desc }}
                                            <br>
                                            <small>{{ item.create_time | date:"Y年m月d日H时" }}</small>
                                        </div>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="news/{{ item.id }}" class="card-footer-item">进入页面</a>
                                    </footer>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="is-marginless"/>
    {% endif %}
    {% if guides %}

        <section class="section is-medium">
            <div class="container">
                <a href="{% url 'core:part' 'guide' %}">
                    {% include 'core/_title.html' with title='楼层引导' %}
                </a>
                {% include 'core/_subtitle.html' with subtitle='各式文化由不同的楼层中感受到' %}
                <div class="tile is-ancestor">
                    {% for item in guides %}
                        <div class="tile is-parent">
                            <article class="tile is-child notification is-primary">
                                <a href="guide/{{ item.id }}" class="content">
                                    <p class="title">{{ item.title }}</p>
                                    <p class="subtitle">{{ item.desc }}</p>
                                    <div class="content">
                                        {{ item.content | safe }}
                                    </div>
                                </a>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    <hr class="is-marginless"/>
    <section class="section is-medium">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    {% include 'core/_title.html' with title='预约参观' %}
                    {% include 'core/_subtitle.html' with subtitle='深入探索博物馆最好的实践' %}
                </div>
                <div class="column">
                    <form action="{% url 'core:appoint' %}" method="post" target="_blank" class="control ">
                        {% csrf_token %}
                        <div class="control is-horizontal">
                            <div class="control-label">
                                <label class="label">基本信息</label>
                            </div>
                            <div class="control is-grouped">
                                <p class="control is-expanded">
                                    <input class="input" type="text" placeholder="团体名称">
                                </p>
                                <p class="control is-expanded">
                                    <input class="input" type="text" placeholder="参观人数">
                                </p>
                            </div>
                        </div>

                        <div class="control is-horizontal">
                            <div class="control-label">
                                <label class="label">参观时间</label>
                            </div>
                            <div class="control is-fullwidth">
                                <input class="input" type="text" placeholder="您的参观时间对此次接待十分重要">
                            </div>
                        </div>

                        <div class="control is-horizontal">
                            <div class="control-label">
                                <label class="label">详细信息</label>
                            </div>
                            <div class="control">
                                <textarea class="textarea" id="id_note" name="note"
                                          placeholder="请告诉我们更多您此次的安排详情(具体时间等)"></textarea>
                            </div>
                        </div>

                        <div class="control is-horizontal">
                            <div class="control-label">
                                <label class="label"></label>
                            </div>
                            <div class="control">
                                <button type="submit" class="button has-text-centered is-success">
                                  <span class="icon">
                                    <i class="fa fa-check"></i>
                                  </span>
                                    <span>提交预约</span>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <hr class="is-marginless"/>
    {% if exhibitions %}
        <section class="section is-medium">
            <div class="container">
                <a href="{% url 'core:part' 'exhibition' %}">
                    {% include 'core/_title.html' with title='网上巡展' %}
                </a>
                {% include 'core/_subtitle.html' with subtitle='在互联网文化中带来全新的体验' %}
                <div class="columns">
                    {% for item in exhibitions %}
                        <div class="column is-3">
                            <div class="card is-fullwidth">
                                <a href="exhibition/{{ item.id }}">
                                    <div class="card-image">
                                        <figure class="image is-1by1">
                                            <img src="{{ item.thumbnail.url }}" alt="">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <p class="title is-5"><strong>{{ item.title }}</strong></p>
{#                                                <p class="subtitle is-6">已浏览: {{ item.page_view }}</p>#}
                                            </div>
                                        </div>

                                        <div class="content">
                                            {{ item.desc }}
                                            <br>
                                            <small>{{ item.create_time | date:"Y年m月d日H时" }}</small>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <hr class="is-marginless"/>
    {% endif %}
    <section id="about" class="section is-medium">
        <div class="container">
            <a href="{% url 'core:part' 'about' %}">
                {% include 'core/_title.html' with title='关于我们' %}
            </a>
            {% include 'core/_subtitle.html' with subtitle='直接向您展示的我们' %}
            <div id="about-main">
                <img src="{% static "core/images/map.jpg" %}" alt="">
                <div id="contract-board">
                    <div class="title"><span>联系我们</span></div>
                    <div class="info">
                        <p><span><i class="fa fa-mobile" aria-hidden="true"></i>021-65983563</span><span><i
                                class="fa fa-weixin" aria-hidden="true"></i>微信公众号: tongjiBWG</span></p>
                        <p><span><i class="fa fa-location-arrow"
                                    aria-hidden="true"></i>地址: 中国 上海 四平路 1239号一二九大楼</span>
                        </p>
                    </div>
                    <form action="" method="post" target="_blank">
                        <input style="display: none" id="id_title" name="title" type="text" placeholder="标题"/>
                        <textarea name="content" placeholder="意见与建议"></textarea>
                        <button type="submit">发送</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <hr class="is-marginless"/>
{% endblock %}

{% block scripts %}
    <script src="{% static 'common/bower_components/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/scripts/jquery.smooth.scroll.min.js' %}"></script>
    <script src="{% static 'core/scripts/jquery.bxslider.min.js' %}"></script>
    <script src="{% static 'core/scripts/home.js' %}"></script>
{% endblock %}